<div class="header-container">
  <div class="preview-title">
    {{if  collection.isAssessment (t 'common.assessment') (t 'common.collection')}} {{t "common.report"}}
  </div>
</div>
<div class="summary-container">
  <div class="profile-image">
    <img role="presentation" class="img-responsive" src="{{collection.thumbnailUrl}}" alt="Avatar for {{profile.username}}">
  </div>
  <div class="content-icon {{if  collection.isAssessment 'assessment' 'collection'}}"></div>
  <div class="overview">
    <h5 aria-label="title">{{contextResult.title}}</h5>
    <div class="information">
      {{#if collection.isAssessment}}
        <span class="attempt">
          {{#if showAttempts}}
            <span class="title">{{t "common.attempt"}}</span>
              <span class="attempt-selector">
                <span class="dropdown current-attempt">
                  <button class="btn btn-default dro`pdown-toggle" type="button" data-toggle="dropdown">{{selectedAttempt}}<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    {{#each attempts as |attempt|}}
                      <li><a {{action 'selectAttempt' attempt.value}}>{{attempt.label}}</a></li>
                    {{/each}}
                  </ul>
                </span>
                <span>{{t "common.of"}}</span>
                <span class="total-attempts">{{contextResult.totalAttempts}}</span>
              </span>
            {{else}}
            {{#if isRealTime}}
              <span class="title current">{{t "common.current-attempt"}}</span>
            {{else}}
              <span class="title latest">{{t "common.latest-attempt"}}</span>
            {{/if}}
          {{/if}}
        </span>
      {{/if}}
      {{#if contextResult.submittedAt}}
        <span class="date">
          {{gru-icon name='event'}}<span>{{format-date contextResult.submittedAt 'h:mm a MMM. Do, YYYY'}}</span>
        </span>
      {{/if}}
      <span class="time">
        {{gru-icon name='av_timer'}}<span>{{format-time contextResult.totalTimeSpent}}</span>
      </span>
    </div>
  </div>
  <div class="reactions">
    <span class="reaction">
      {{qz-reaction-icon contextResult.averageReaction}}
    </span>
  </div>
  <div class="bubbles">
    {{#if (not areQuestionLinksHidden)}}
      {{gru-bubbles bubbleOptions=resourceLinks onBubbleSelect='bubbleSelect'}}
    {{/if}}
  </div>
  {{#if collection.isAssessment}}
  {{#if isSerptype}}
    <div class="grade {{if hasOnlyOEQuestion 'only-oe' ''}}" style= {{safe-html (concat "color:" (grade-color contextResult.correctPercentage))}}>
      {{#unless hasOnlyOEQuestion}}
        <span class="percentage">{{round-number contextResult.correctPercentage}}%</span>
      {{else}}
        <span class="percentage">--</span>
      {{/unless}}
      <span class="attempts">
        <span class="text">PERFORMANCE</span>
      </span>
    </div>
   {{/if}} 
  {{else}}
    {{#if (or hasQuestionScore hasOnlyOEQuestion)}}
  {{#if isSerptype}}
      <div class="grade {{if hasOnlyOEQuestion 'only-oe' ''}}" style= {{safe-html (concat "color:" (grade-color contextResult.correctPercentage))}}>
        {{#unless hasOnlyOEQuestion}}
          <span class="percentage">{{round-number contextResult.correctPercentage}}%</span>
        {{else}}
          <span class="percentage">--</span>
        {{/unless}}
        <span class="attempts">
          <span class="text">PERFORMANCE</span>
        </span>
      </div>
      {{/if}}
    {{else}}
      <div class="thumbnail">
        <span class="title">{{t "qz-assessment-report.qz-summary.total-time-spent"}}</span>
        <span class="time-spent">{{gru-icon name='av_timer'}}<span>{{format-time contextResult.totalTimeSpent}}</span></span>
      </div>
    {{/if}}
  {{/if}}
</div>
